_Store
npm-debug.log
node_modules

# Ignore checkpoints created (especially for the examples)
.ipynb_checkpoints

.DS_Store

# models
imdb.d2v
imdb.d2v.syn0.npy
imdb.d2v.syn1.npy
imdb.d2v.syn1neg.npy
imdb.d2v.table.npy
